@charset "UTF-8";
body {
  background: #FFFFFF;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #111111;
  }
}

.page-layout-landing {
  margin-top: 12%;
  margin-bottom: 8%;
}
@media (max-width: 992px) {
  .page-layout-landing {
    margin-top: 8%;
  }
}

.page-break-line {
  color: #CCCCCC;
  opacity: 1;
}
@media (prefers-color-scheme: dark) {
  .page-break-line {
    color: #666666;
  }
}

.heading-normal {
  color: #111111;
  color: #111111;
  font-weight: 900;
  font-family: sofia-pro, sans-serif;
}
@media (prefers-color-scheme: dark) {
  .heading-normal {
    color: #CCCCCC;
  }
}
@media (prefers-color-scheme: dark) {
  .heading-normal {
    color: #EAEAEA;
  }
}

.heading-linked {
  color: #FF0099;
  opacity: 1;
}
.heading-linked:hover {
  color: #FF0099;
  opacity: 0.64;
  text-decoration: none;
}
.heading-linked:active {
  color: #FF0099;
  opacity: 0.64;
}
.heading-linked:visited {
  color: #FF0099;
  opacity: 1;
}
@media (prefers-color-scheme: dark) {
  .heading-linked {
    color: #cc338f;
  }
  .heading-linked:hover {
    color: #cc338f;
    opacity: 0.64;
    text-decoration: none;
  }
  .heading-linked:active {
    color: #cc338f;
    opacity: 0.64;
  }
  .heading-linked:visited {
    color: #cc338f;
    opacity: 1;
  }
}

.text-normal {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #111111;
  font-family: freight-text-pro, serif;
  font-size: 1.25rem;
  font-weight: 500;
}
@media (prefers-color-scheme: dark) {
  .text-normal {
    color: #CCCCCC;
  }
}

.text-leading {
  color: #111111;
  font-family: freight-text-pro, serif;
  font-size: 1.375rem;
  font-weight: 500;
}
@media (prefers-color-scheme: dark) {
  .text-leading {
    color: #CCCCCC;
  }
}

.text-linked, .list-linked a {
  color: #FF0099;
  opacity: 1;
}
.text-linked:hover, .list-linked a:hover {
  color: #FF0099;
  opacity: 0.64;
  text-decoration: none;
}
.text-linked:active, .list-linked a:active {
  color: #FF0099;
  opacity: 0.64;
}
.text-linked:visited, .list-linked a:visited {
  color: #FF0099;
  opacity: 1;
}
@media (prefers-color-scheme: dark) {
  .text-linked, .list-linked a {
    color: #cc338f;
  }
  .text-linked:hover, .list-linked a:hover {
    color: #cc338f;
    opacity: 0.64;
    text-decoration: none;
  }
  .text-linked:active, .list-linked a:active {
    color: #cc338f;
    opacity: 0.64;
  }
  .text-linked:visited, .list-linked a:visited {
    color: #cc338f;
    opacity: 1;
  }
}

.text-dimmed {
  color: #666666;
}
@media (prefers-color-scheme: dark) {
  .text-dimmed {
    color: #808080;
  }
}

.text-bolded, .list-linked a {
  font-weight: 900;
}

.text-monospaced {
  font-family: "Inconsolata", monospace;
}

.list-plain {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 576px) {
  .list-horizontal li {
    display: inline;
  }
  .list-horizontal li:nth-child(n+2):before {
    content: "· ";
    color: #666666;
  }
}
@media (min-width: 576px) and (prefers-color-scheme: dark) {
  .list-horizontal li:nth-child(n+2):before {
    color: #808080;
  }
}

.description-list-plain dt {
  font-weight: 400;
}
.description-list-plain dt:nth-child(n+2) {
  margin: 1rem 0 0 0;
}
.description-list-plain dd {
  margin: 0;
  padding: 0;
}

.button-label-normal {
  color: #111111;
  font-family: sofia-pro, sans-serif;
  font-size: 1.125rem;
  font-weight: 900;
  color: #333333;
}
@media (prefers-color-scheme: dark) {
  .button-label-normal {
    color: #CCCCCC;
  }
}
@media (prefers-color-scheme: dark) {
  .button-label-normal {
    color: #FFFFFF;
  }
}

.button-style-primary {
  background-color: #FFFFFF;
  border: 0.0625rem solid #EAEAEA;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
}
.button-style-primary:hover {
  background-color: #FFFFFF;
  border: 0.0625rem solid #EAEAEA;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.12);
  color: #333333;
}
.button-style-primary:active {
  background-color: #FFFFFF;
  border: 0.0625rem solid #EAEAEA;
}
.button-style-primary:visited {
  background-color: #FFFFFF;
}
@media (prefers-color-scheme: dark) {
  .button-style-primary {
    background-color: #111111;
    border-color: #666666;
    box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.24);
  }
  .button-style-primary:hover {
    background-color: #111111;
    border-color: #999999;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.32);
    color: #FFFFFF;
  }
  .button-style-primary:active {
    background-color: #111111;
    border-color: #999999;
  }
  .button-style-primary:visited {
    background-color: #111111;
  }
}

.content-screenshot {
  box-shadow: 0 0 2rem #00000012;
}
@media (prefers-color-scheme: dark) {
  .content-screenshot {
    box-shadow: 0 0 2rem #FFFFFF08;
    filter: brightness(80%);
  }
}

.content-background-white {
  background-color: #FFFFFF;
}

.content-background-black {
  background-color: #000;
}

/*# sourceMappingURL=custom-styles.css.map */
