// Colours
$color-grey-05: #F9F9F9;
$color-grey-10: #EDEDED;
$color-grey-15: #DBDBDB;
$color-grey-30: #ACACAC;
$color-grey-50: #808080;
$color-white: #FFFFFF;
$color-magenta: #EC058E;

// Mixins
@mixin allText {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
@mixin sans-serif {
  font-family: sofia-pro, sans-serif;
}
@mixin serif {
  font-family: freight-text-pro, serif;
}

//Typography
.header__h1 {
  @include allText;
  @include sans-serif;
  font-weight: 900;
}
.header__h2 {
  @include allText;
  @include sans-serif;
  font-weight: 900;
}
.header__h4 {
  @include allText;
  @include sans-serif;
  font-weight: 900;
}
.header__link {
  color: $color-magenta;
  opacity: 1;

  &:hover {
    color: $color-magenta;
    opacity: 0.64;
    text-decoration: none;
  }

  &:active {
    color: $color-magenta;
    opacity: 0.64;
  }

  &:visited {
    color: $color-magenta;
    opacity: 1;
  }
}
.bodyCopy {
  @include allText;
  @include serif;
  font-size: 1.25rem;
  font-weight: 500;
}
.bodyCopy__lead {
  @include allText;
  @include serif;
  font-size: 1.375rem;
  font-weight: 500;
}
.bodyCopy__fineprint {
  @include allText;
  @include serif;
  font-size: 1rem;
}
.bodyCopy__link {
  color: $color-magenta;
  font-weight: 900;
  opacity: 1;

  &:hover {
    color: $color-magenta;
    opacity: 0.64;
    text-decoration: none;
  }

  &:active {
    color: $color-magenta;
    opacity: 0.64;
  }

  &:visited {
    color: $color-magenta;
    opacity: 1;
  }
}
.bodyCopy--disabled {
  color: $color-grey-50;
}
.buttonText {
  @include allText;
  @include sans-serif;
  font-size: 1.125rem;
  font-weight: 900;
}

//Sections
.sectionPadding {
  padding-left: 2rem;
  padding-right: 2rem;
}
.sectionHero {
  margin-top: 12%;

  @media (max-width: 768px) {
    margin-bottom: 8%;
  }
}
.sectionBody {
  margin-bottom: 8%;
}
.sectionContent {
  margin-top: 8%;
}
.sectionPadding--left {

  @media (min-width: 992px) {
    padding-right: 4%;
  }
}

//Componenets
.buttonStyle__primary {
  background-color: $color-white;
  border: 0.0625rem solid $color-grey-10;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0,0,0,0.10);
  border-radius: 0.375rem;

  &:hover {
    background-color: $color-white;
    border: 0.0625rem solid $color-grey-05;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0,0,0,0.12);
  }

  &:active {
    background-color: $color-white !important;
    border: 0.0625rem solid $color-grey-05 !important;
  }

  &:visited {
    background-color: $color-white;
  }
}
.img__avatar {
  width: 5rem;
}
