// Fills
$grayscale-0000: #FFFFFF;
$grayscale-0010: #FCFCFC;
$grayscale-0040: #F5F5F5;
$grayscale-0080: #EAEAEA;
$grayscale-0200: #CCCCCC;
$grayscale-0400: #999999;
$grayscale-0500: #808080;
$grayscale-0600: #666666;
$grayscale-0800: #333333;
$grayscale-0900: #111111;
$grayscale-1000: #000000;
$hue-grayish-red: #F5E6E8;
$hue-magenta: #FF0099;
$hue-light-blue: #6666FF;

// Mixins
@mixin shared-text {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
@mixin shared-text-normal {
  color: $grayscale-0900;

  @media (prefers-color-scheme: dark) {
    color: $grayscale-0200;
  }
}
@mixin shared-header-normal {
  color: $grayscale-0900;
  font-weight: 900;

  @media (prefers-color-scheme: dark) {
    color: $grayscale-0080;
  }
}
@mixin sans-serif-ui {
  font-family: 'Outfit', sans-serif;
}
@mixin sans-serif {
  font-family: sofia-pro, sans-serif;
}
@mixin serif {
  font-family: freight-text-pro, serif;
}
@mixin monospace {
  font-family: 'Inconsolata', monospace;
}

// Layout
body {
  background: $grayscale-0040;

  @media (prefers-color-scheme: dark) {
    background: $grayscale-1000;
  }
}
.page-layout-landing {
  margin-top: 12%;
  margin-bottom: 8%;
  @media (max-width: 992px) {
    margin-top: 8%;
  }
}
.page-break-line {
  color: $grayscale-0200;
  opacity:1;
  @media (prefers-color-scheme: dark) {
    color: $grayscale-0600;
  }
}
.page-break-dashed {
  border-style: dashed;
}

// Typography
.heading-normal {
  @include shared-text-normal;
  @include shared-header-normal;
  @include sans-serif;
}
.heading-linked {
  color: $hue-magenta;
  opacity: 1;
  text-decoration: none;
  &:hover {
    color: $hue-magenta;
    opacity: 0.64;
    text-decoration: none;
  }
  &:active {
    color: $hue-magenta;
    opacity: 0.64;
  }
  &:visited {
    color: $hue-magenta;
    opacity: 1;
  }
  @media (prefers-color-scheme: dark) {
    color: scale-color($hue-magenta, $saturation: -40%);
    &:hover {
      color: scale-color($hue-magenta, $saturation: -40%);
      opacity: 0.64;
      text-decoration: none;
    }
    &:active {
      color: scale-color($hue-magenta, $saturation: -40%);
      opacity: 0.64;
    }
    &:visited {
      color: scale-color($hue-magenta, $saturation: -40%);
      opacity: 1;
    }
  }
}
.text-normal {
  @include shared-text;
  @include shared-text-normal;
}
.text-sans-serif {
  @include sans-serif-ui;
}
.text-serif {
  @include serif;
}
.text-linked {
  color: $hue-magenta;
  opacity: 1;
  &:hover {
    color: $hue-magenta;
    opacity: 0.64;
    text-decoration: none;
  }
  &:active {
    color: $hue-magenta;
    opacity: 0.64;
  }
  &:visited {
    color: $hue-magenta;
    opacity: 1;
  }
  @media (prefers-color-scheme: dark) {
    color: scale-color($hue-magenta, $saturation: -40%);
    &:hover {
      color: scale-color($hue-magenta, $saturation: -40%);
      opacity: 0.64;
      text-decoration: none;
    }
    &:active {
      color: scale-color($hue-magenta, $saturation: -40%);
      opacity: 0.64;
    }
    &:visited {
      color: scale-color($hue-magenta, $saturation: -40%);
      opacity: 1;
    }
  }
}
.text-dimmed {
  color: $grayscale-0600;
  @media (prefers-color-scheme: dark) {
    color: $grayscale-0500;
  }
}
.text-bolded {
  font-weight: 900;
}
.text-monospaced {
  @include monospace;
}

// Links
.link-icon {
  display: inline-flex;
  align-items: center;
  font-size: 1.0625rem;
  text-decoration: none;
  color: $hue-light-blue;
  opacity: 1;
  &:hover {
    color: $hue-light-blue;
    opacity: 0.64;
    text-decoration: none;
  }
  &:active {
    color: $hue-light-blue;
    opacity: 0.64;
  }
  &:visited {
    color: $hue-light-blue;
    opacity: 1;
  }
  @media (prefers-color-scheme: dark) {
    color: scale-color($hue-light-blue, $saturation: -40%);
    &:hover {
      color: scale-color($hue-light-blue, $saturation: -40%);
      opacity: 0.64;
      text-decoration: none;
    }
    &:active {
      color: scale-color($hue-light-blue, $saturation: -40%);
      opacity: 0.64;
    }
    &:visited {
      color: scale-color($hue-light-blue, $saturation: -40%);
      opacity: 1;
    }
  }
}

// Lists
.list-plain {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list-linked {
  a {
    @extend .text-linked;
    @extend .text-bolded;
  }
}
.list-horizontal {
  li {
    @media (min-width: 576px) {
      display: inline;
      &:nth-child(n+2) {
        &:before {
          content: "\00B7\00a0";
          color: $grayscale-0600;
          @media (prefers-color-scheme: dark) {
            color: $grayscale-0500;
          }
        }
      }
    }
  }
}
.description-list-plain {
  dt {
    &:nth-child(n+2) {
      margin: 1rem 0 0 0;
    }
  }
  dd {
    margin: 0;
    padding: 0;
  }
}

// Controls
.button-label-normal {
  @include shared-text-normal;
  @include sans-serif-ui;
  font-size: 1.125rem;
  font-weight: 600;
  color: $grayscale-0800;
  @media (prefers-color-scheme: dark) {
    color: $grayscale-0000;
  }
}
.button-style-primary {
  background-color: $grayscale-0000;
  border: 0.0625rem solid $grayscale-0080;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0,0,0,0.10);
  border-radius: 0.375rem;
  &:hover {
    background-color: $grayscale-0000;
    border: 0.0625rem solid $grayscale-0080;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0,0,0,0.12);
    color: $grayscale-0800;
  }
  &:active {
    background-color: $grayscale-0000;
    border: 0.0625rem solid $grayscale-0080;
  }
  &:visited {
    background-color: $grayscale-0000;
  }
  @media (prefers-color-scheme: dark) {
    background-color: $grayscale-0900;
    border-color: $grayscale-0600;
    box-shadow: 0 0.125rem 0.125rem 0 rgba(0,0,0,0.24);
    &:hover {
      background-color: $grayscale-0900;
      border-color: $grayscale-0400;
      box-shadow: 0 0.25rem 0.25rem 0 rgba(0,0,0,0.32);
      color: $grayscale-0000;
    }
    &:active {
      background-color: $grayscale-0900;
      border-color: $grayscale-0400;
    }
    &:visited {
      background-color: $grayscale-0900;
    }
  }
}

// Content
.content-screenshot-shadow {
  box-shadow: 0 0 2rem #00000012;
  @media (prefers-color-scheme: dark) {
    box-shadow: 0 0 2rem #FFFFFF12;
  }
}
.content-screenshot-brightness {
  @media (prefers-color-scheme: dark) {
    filter: brightness(80%);
  }
}
.content-background-white {
  background-color: $grayscale-0000;
}
.content-background-black {
  background-color: $grayscale-1000;
}
.content-background-scheme {
  background-color: $grayscale-0000;
  @media (prefers-color-scheme: dark) {
    background-color: $grayscale-1000;
  }
}
.content-background-dotted {
  background: linear-gradient(90deg, $grayscale-0040 (1.25rem - 0.0625rem), transparent 1%) center, linear-gradient($grayscale-0040 (1.25rem - 0.0625rem), transparent 1%) center, $hue-magenta;
  background-size: 1.25rem 1.25rem;
  box-shadow: inset 0 0 8rem $grayscale-0040;

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(90deg, $grayscale-1000 (1.25rem - 0.0625rem), transparent 1%) center, linear-gradient($grayscale-1000 (1.25rem - 0.0625rem), transparent 1%) center, $grayscale-0600;
    background-size: 1.25rem 1.25rem;
    box-shadow: inset 0 0 8rem $grayscale-1000;
  }
}
.content-background-outlined {
  border-color: $grayscale-0000;
  @media (prefers-color-scheme: dark) {
    border-color: $grayscale-0800;
  }
}
.content-text-truncated {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.content-mask-gradient {
  mask-image: linear-gradient(to top, transparent 0%, $grayscale-0010 16%);
  @media (prefers-color-scheme: dark) {
    mask-image: linear-gradient(to top, transparent 0%, $grayscale-0900 16%);
  }
}
