@charset "UTF-8";
@media (prefers-color-scheme: dark) {
  .d-dark-none {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .d-light-none {
    display: none;
  }
}

body {
  background: #F5F5F5;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #000000;
  }
}

.page-layout-landing {
  margin-top: 12%;
  margin-bottom: 8%;
}
@media (max-width: 992px) {
  .page-layout-landing {
    margin-top: 8%;
  }
}

.page-break-line {
  color: #CCCCCC;
  opacity: 1;
}
@media (prefers-color-scheme: dark) {
  .page-break-line {
    color: #666666;
  }
}

.page-break-dashed {
  border-style: dashed;
}

.heading-normal {
  color: #111111;
  color: #111111;
  font-weight: 900;
  font-family: sofia-pro, sans-serif;
}
@media (prefers-color-scheme: dark) {
  .heading-normal {
    color: #CCCCCC;
  }
}
@media (prefers-color-scheme: dark) {
  .heading-normal {
    color: #EAEAEA;
  }
}

.heading-linked {
  color: #FF0099;
  opacity: 1;
  text-decoration: none;
}
.heading-linked:hover {
  color: #FF0099;
  opacity: 0.64;
  text-decoration: none;
}
.heading-linked:active {
  color: #FF0099;
  opacity: 0.64;
}
.heading-linked:visited {
  color: #FF0099;
  opacity: 1;
}
@media (prefers-color-scheme: dark) {
  .heading-linked {
    color: #cc338f;
  }
  .heading-linked:hover {
    color: #cc338f;
    opacity: 0.64;
    text-decoration: none;
  }
  .heading-linked:active {
    color: #cc338f;
    opacity: 0.64;
  }
  .heading-linked:visited {
    color: #cc338f;
    opacity: 1;
  }
}

.text-normal {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #111111;
}
@media (prefers-color-scheme: dark) {
  .text-normal {
    color: #CCCCCC;
  }
}

.text-sans-serif {
  font-family: "Outfit", sans-serif;
}

.text-serif {
  font-family: freight-text-pro, serif;
}

.text-linked, .list-linked a {
  text-decoration: none;
  color: #6666FF;
  opacity: 1;
}
.text-linked:hover, .list-linked a:hover {
  color: #6666FF;
  opacity: 0.64;
  text-decoration: none;
}
.text-linked:active, .list-linked a:active {
  color: #6666FF;
  opacity: 0.64;
}
.text-linked:visited, .list-linked a:visited {
  color: #6666FF;
  opacity: 1;
}
@media (prefers-color-scheme: dark) {
  .text-linked, .list-linked a {
    color: #8585e0;
  }
  .text-linked:hover, .list-linked a:hover {
    color: #8585e0;
    opacity: 0.64;
    text-decoration: none;
  }
  .text-linked:active, .list-linked a:active {
    color: #8585e0;
    opacity: 0.64;
  }
  .text-linked:visited, .list-linked a:visited {
    color: #8585e0;
    opacity: 1;
  }
}

.text-dimmed {
  color: #666666;
}
@media (prefers-color-scheme: dark) {
  .text-dimmed {
    color: #808080;
  }
}

.text-bolded, .list-linked a {
  font-weight: 900;
}

.text-monospaced {
  font-family: "Inconsolata", monospace;
}

.link-icon {
  text-decoration: none;
  color: #6666FF;
  opacity: 1;
  display: inline-flex;
  align-items: center;
  font-size: 1.0625rem;
}
.link-icon:hover {
  color: #6666FF;
  opacity: 0.64;
  text-decoration: none;
}
.link-icon:active {
  color: #6666FF;
  opacity: 0.64;
}
.link-icon:visited {
  color: #6666FF;
  opacity: 1;
}
@media (prefers-color-scheme: dark) {
  .link-icon {
    color: #8585e0;
  }
  .link-icon:hover {
    color: #8585e0;
    opacity: 0.64;
    text-decoration: none;
  }
  .link-icon:active {
    color: #8585e0;
    opacity: 0.64;
  }
  .link-icon:visited {
    color: #8585e0;
    opacity: 1;
  }
}

.list-plain {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 576px) {
  .list-horizontal li {
    display: inline;
  }
  .list-horizontal li:nth-child(n+2):before {
    content: "· ";
    color: #666666;
  }
}
@media (min-width: 576px) and (prefers-color-scheme: dark) {
  .list-horizontal li:nth-child(n+2):before {
    color: #808080;
  }
}

.description-list-plain dt:nth-child(n+2) {
  margin: 1rem 0 0 0;
}
.description-list-plain dd {
  margin: 0;
  padding: 0;
}

.button-label-normal {
  color: #111111;
  font-family: "Outfit", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  color: #333333;
}
@media (prefers-color-scheme: dark) {
  .button-label-normal {
    color: #CCCCCC;
  }
}
@media (prefers-color-scheme: dark) {
  .button-label-normal {
    color: #FFFFFF;
  }
}

.button-style-primary {
  background-color: #FFFFFF;
  border: 0.0625rem solid #EAEAEA;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
}
.button-style-primary:hover {
  background-color: #FFFFFF;
  border: 0.0625rem solid #EAEAEA;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.12);
  color: #333333;
}
.button-style-primary:active {
  background-color: #FFFFFF;
  border: 0.0625rem solid #EAEAEA;
}
.button-style-primary:visited {
  background-color: #FFFFFF;
}
@media (prefers-color-scheme: dark) {
  .button-style-primary {
    background-color: #111111;
    border-color: #666666;
    box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.24);
  }
  .button-style-primary:hover {
    background-color: #111111;
    border-color: #999999;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.32);
    color: #FFFFFF;
  }
  .button-style-primary:active {
    background-color: #111111;
    border-color: #999999;
  }
  .button-style-primary:visited {
    background-color: #111111;
  }
}

.container-bg-soft-1 {
  background: linear-gradient(160deg, #F5E6E8 0%, #E6EFF5 100%);
}
@media (prefers-color-scheme: dark) {
  .container-bg-soft-1 {
    background: linear-gradient(160deg, #1F1F1F 0%, #111111 100%);
  }
}

.container-bg-soft-2 {
  background: linear-gradient(160deg, #EFF5E6 0%, #F5E6EF 100%);
}
@media (prefers-color-scheme: dark) {
  .container-bg-soft-2 {
    background: linear-gradient(160deg, #1F1F1F 0%, #111111 100%);
  }
}

.container-bg-soft-3 {
  background: linear-gradient(160deg, #F5E6EF 0%, #F5E6E8 100%);
}
@media (prefers-color-scheme: dark) {
  .container-bg-soft-3 {
    background: linear-gradient(160deg, #1F1F1F 0%, #111111 100%);
  }
}

.container-bg-soft-4 {
  background: linear-gradient(160deg, #E6EFF5 0%, #EFF5E6 100%);
}
@media (prefers-color-scheme: dark) {
  .container-bg-soft-4 {
    background: linear-gradient(160deg, #1F1F1F 0%, #111111 100%);
  }
}

.container-bg-soft-5 {
  background: linear-gradient(160deg, #F5ECE6 0%, #F3E6F5 100%);
}
@media (prefers-color-scheme: dark) {
  .container-bg-soft-5 {
    background: linear-gradient(160deg, #1F1F1F 0%, #111111 100%);
  }
}

.container-bg-blurred {
  background: rgba(245, 245, 245, 0.9);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  -moz-backdrop-filter: blur(0.5rem);
  -o-backdrop-filter: blur(0.5rem);
}
@media (prefers-color-scheme: dark) {
  .container-bg-blurred {
    background: rgba(0, 0, 0, 0.9);
  }
}

.content-screenshot-shadow {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.0705882353);
}
@media (prefers-color-scheme: dark) {
  .content-screenshot-shadow {
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.0705882353);
  }
}

@media (prefers-color-scheme: dark) {
  .content-screenshot-brightness {
    filter: brightness(80%);
  }
}

.content-background-scheme {
  background-color: #FFFFFF;
}
@media (prefers-color-scheme: dark) {
  .content-background-scheme {
    background-color: #000000;
  }
}

.content-background-dotted {
  background: linear-gradient(90deg, #F5F5F5 1.1875rem, transparent 1%) center, linear-gradient(#F5F5F5 1.1875rem, transparent 1%) center, #FF0099;
  background-size: 1.25rem 1.25rem;
  box-shadow: inset 0 0 8rem #F5F5F5;
}
@media (prefers-color-scheme: dark) {
  .content-background-dotted {
    background: linear-gradient(90deg, #000000 1.1875rem, transparent 1%) center, linear-gradient(#000000 1.1875rem, transparent 1%) center, #666666;
    background-size: 1.25rem 1.25rem;
    box-shadow: inset 0 0 8rem #000000;
  }
}

.content-background-outlined {
  border-color: #FFFFFF;
}
@media (prefers-color-scheme: dark) {
  .content-background-outlined {
    border-color: #333333;
  }
}

.content-text-truncated {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 768px) {
  .content-text-truncated {
    display: none;
  }
}

.content-mask-gradient {
  mask-image: linear-gradient(to top, transparent 0%, #FCFCFC 16%);
}
@media (prefers-color-scheme: dark) {
  .content-mask-gradient {
    mask-image: linear-gradient(to top, transparent 0%, #111111 16%);
  }
}

.content-radius-top-left {
  border-top-left-radius: 2rem;
}
@media (max-width: 576px) {
  .content-radius-top-left {
    border-top-left-radius: 1rem;
  }
}
@media (max-width: 768px) {
  .content-radius-top-left {
    border-top-left-radius: 1.5rem;
  }
}

@media (min-width: 992px) {
  .border-radius-lg-1 {
    border-radius: 0.125rem !important;
  }
}

@media (min-width: 992px) {
  .border-radius-lg-2 {
    border-radius: 0.25rem !important;
  }
}

@media (min-width: 992px) {
  .border-radius-lg-3 {
    border-radius: 0.5rem !important;
  }
}

@media (min-width: 992px) {
  .border-radius-lg-4 {
    border-radius: 1rem !important;
  }
}

@media (min-width: 992px) {
  .border-radius-lg-5 {
    border-radius: 2rem !important;
  }
}

@media (min-width: 1200px) {
  .border-radius-xl-1 {
    border-radius: 0.125rem !important;
  }
}

@media (min-width: 1200px) {
  .border-radius-xl-2 {
    border-radius: 0.25rem !important;
  }
}

@media (min-width: 1200px) {
  .border-radius-xl-3 {
    border-radius: 0.5rem !important;
  }
}

@media (min-width: 1200px) {
  .border-radius-xl-4 {
    border-radius: 1rem !important;
  }
}

@media (min-width: 1200px) {
  .border-radius-xl-5 {
    border-radius: 2rem !important;
  }
}

@media (min-width: 992px) {
  .figure-stacked img {
    position: relative;
  }
  .figure-stacked img:nth-child(1) {
    top: 2rem;
  }
  .figure-stacked img:nth-child(2) {
    top: -2rem;
    left: 2rem;
  }
  .figure-stacked figcaption {
    position: relative;
    top: -0.75rem;
  }
}

/*# sourceMappingURL=custom-styles.css.map */
