---
layout: default
title: "Piotr Bakker &middot; Gallery"
description: "A collection of design work and visual explorations."
---

<main>
  <div class="container p-4">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 pe-lg-5">
        {% include breadcrumbs.html %}
        <h1 class="display-3 fw-bold text-style-primary text-sans-serif">Gallery</h1>
        <p class="fs-4 text-style-primary text-serif">A collection of design work and visual explorations.</p>
      </div>
    </div>

    <div class="row justify-content-center mt-4 mt-lg-5">
      <div class="col">
        <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4 g-2">
          {% for image in site.data.screens %}
            <div class="col">
              <div class="position-relative w-100 overflow-hidden image-fit-square-cover image-hover-scale-up container-bg-secondary" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#imageModal-{{ image.id }}">
                <img class="position-absolute top-0 start-0 w-100 h-100 image-brightness-dimmed" alt="{{ image.alt }}" src="{{ image.src }}">
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% for image in site.data.screens %}
    {% include image-modal.html
       id=image.id
       src=image.src
       alt=image.alt %}
  {% endfor %}
</main>
