<nav style="--bs-breadcrumb-divider: '&rsaquo;'; aria-label="breadcrumb" class="mb-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/" class="text-sans-serif link-icon"><i class="ph-bold ph-house me-1"></i>Home</a>
    </li>
    {% if page.url contains "/work/" and page.url != "/work/" and page.url != "/work/index.html" %}
      <li class="breadcrumb-item">
        <a href="/work" class="text-sans-serif link-icon">Work</a>
      </li>
      <li class="breadcrumb-item active">
        <span class="text-sans-serif text-dimmed">{{ page.title | split: " &middot; " | last }}</span>
      </li>
    {% elsif page.url == "/work/" or page.url == "/work/index.html" %}
      <li class="breadcrumb-item active">
        <span class="text-sans-serif text-dimmed">Work</span>
      </li>
    {% endif %}
  </ol>
</nav>
