{% comment %}
Image Modal Include
- id: unique identifier for the modal
- src: image source path
- alt: image alt text
{% endcomment %}

<div class="modal fade container-bg-blurred" id="imageModal-{{ include.id }}" tabindex="-1" aria-labelledby="imageModal-{{ include.id }}-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content modal-bg-primary">
      <div class="modal-header border-0">
        <button type="button" class="rounded-circle border-0 ms-auto fs-5 d-inline-flex-center btn-size-md btn-hover btn-bg-monochrome btn-label-monochrome" data-bs-dismiss="modal" aria-label="Close">
          <i class="ph-bold ph-x"></i>
        </button>
      </div>
      <div class="modal-body p-4 d-flex justify-content-center">
        <img class="img-fluid" style="max-height: 75vh; max-width: 100%; height: auto; width: auto; object-fit: contain;" alt="{{ include.alt }}" src="{{ include.src }}">
      </div>
    </div>
  </div>
</div>
