{% comment %}
Image Modal Include
- id: unique identifier for the modal
- src: image source path
- alt: image alt text
- description: image description
{% endcomment %}

<div class="modal modal-fade-opacity container-bg-secondary container-bg-blurred" id="imageModal-{{ include.id }}" tabindex="-1" aria-labelledby="imageModal-{{ include.id }}-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content modal-bg-primary">
      <div class="modal-header border-0">
        <button type="button" class="rounded-circle border-0 ms-auto d-inline-flex-center btn-size-md btn-hover btn-label-md btn-bg-monochrome btn-label-monochrome" data-bs-dismiss="modal" aria-label="Close">
          <i class="ph-bold ph-x"></i>
        </button>
      </div>
      <div class="modal-body p-4 d-flex justify-content-center align-items-center">
        <img class="img-fluid rounded-4" style="max-height: 75vh; max-width: 100%; height: auto; width: auto; object-fit: contain;" alt="{{ include.alt }}" src="{{ include.src }}">
      </div>
      <div class="modal-footer border-0 justify-content-center padding-modal-footer">
          <p class="text-center text-style-primary text-monospaced">{{ include.description }}</p>
      </div>
    </div>
  </div>
</div>
