<nav class="navbar fixed-top navbar-expand-md py-3 px-3">
  <div class="container px-0">

    <div class="rounded-5 px-3 navbar-pill container-bg-gradient-twilight">
      <a class="navbar-brand text-link text-link-emphasis text-uppercase fw-bold text-sans-serif" href="/">piotrbakker.com</a>
    </div>

    <div class="rounded-5 px-3 d-md-none navbar-pill container-bg-gradient-dusk">
      <button class="navbar-toggler border-0 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="ph-bold ph-list text-style-primary"></i>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav rounded-5 px-3 mt-3 mt-md-0 ms-auto container-bg-gradient-dusk navbar-pill">
        <a class="nav-link text-link text-link-emphasis fw-semibold text-sans-serif-ui" href="/about">About</a>
        <a class="nav-link text-link text-link-emphasis fw-semibold text-sans-serif-ui" href="/work">Work</a>
        <a href="mailto:hello@piotrbakker.com?Subject=Hello Piotr &#128075;" class="nav-link text-link text-link-emphasis fw-semibold text-sans-serif-ui text-with-icon">Contact</a>
      </div>
    </div>
  </div>
</nav>
