<nav class="navbar fixed-top navbar-expand-md">
   <div class="container py-1 px-0">
    <div class="rounded-5 px-3 navbar-pill container-bg-gradient-twilight">
      <a class="navbar-brand text-uppercase fw-bold d-none d-lg-block text-sans-serif text-style-primary" href="/">piotrbakker.com</a>
    </div>
    <div class="navbar-nav rounded-5 px-3 navbar-pill container-bg-gradient-dusk">
      <a class="nav-link fw-semibold text-sans-serif-ui text-style-primary" href="/about">About</a>
      <a class="nav-link fw-semibold text-sans-serif-ui text-style-primary" href="/work">Work</a>
      <a href="mailto:hello@piotrbakker.com?Subject=Hello Piotr &#128075;" class="nav-link fw-semibold text-sans-serif-ui text-style-primary text-with-icon">Contact</a>
    </div>
  </div>
</nav>
