@import 'variables';
@import 'mixins';

// Navbar
.navbar-pill {
  min-height: 2.5rem;
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin: 0;
  letter-spacing: 8%;
  font-size: 15px;
}

.navbar-toggler {
  .ph-list {
    display: block;
  }

  .ph-x {
    display: none;
  }

  &[aria-expanded="true"] {
    .ph-list {
      display: none;
    }

    .ph-x {
      display: block;
    }
  }
}

// Lists
.description-list-plain {
  dt {
    &:nth-child(n+2) {
      margin: 1rem 0 0 0;
    }
  }

  dd {
    margin: 0;
    padding: 0;
  }
}

// Cards
.card-bg-primary {
  background-color: $color-bg-secondary-light;

  @media (prefers-color-scheme: dark) {
    background-color: $color-bg-secondary-dark;
  }
}

.card-border-primary {
  border-color: transparent;

  @media (prefers-color-scheme: dark) {
    border-color: $color-border-subtle-dark;
  }
}

// Figures
.figure-stacked {
  @media (min-width: $breakpoint-lg) {
    img {
      position: relative;
    }

    img:nth-child(1) {
      top: 2rem;
    }

    img:nth-child(2) {
      top: -2rem;
      left: 2rem;
    }

    figcaption {
      position: relative;
      top: -0.75rem;
    }
  }
}

// Breadcrumbs
.breadcrumb {
  margin: 0;
  padding: 0;
  background: none;

  @media (prefers-color-scheme: dark) {
    --bs-breadcrumb-divider-color: #{$color-gray-500};
  }
}
