@import 'variables';

@mixin text-rendering {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@mixin sans-serif-ui {
  font-family: 'Outfit', sans-serif;
}

@mixin sans-serif {
  font-family: sofia-pro, sans-serif;
}

@mixin serif {
  font-family: freight-text-pro, serif;
}

@mixin monospace {
  font-family: 'Inconsolata', monospace;
}
