@import 'variables';

// Display
.d-dark-none {
  @media (prefers-color-scheme: dark) {
    display: none;
  }
}

.d-light-none {
  @media (prefers-color-scheme: light) {
    display: none;
  }
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-inline-flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// Border Radius
.border-radius-lg-1 {
  @media (min-width: $breakpoint-lg) {
    border-radius: $radius-1 !important;
  }
}

.border-radius-lg-2 {
  @media (min-width: $breakpoint-lg) {
    border-radius: $radius-2 !important;
  }
}

.border-radius-lg-3 {
  @media (min-width: $breakpoint-lg) {
    border-radius: $radius-3 !important;
  }
}

.border-radius-lg-4 {
  @media (min-width: $breakpoint-lg) {
    border-radius: $radius-4 !important;
  }
}

.border-radius-lg-5 {
  @media (min-width: $breakpoint-lg) {
    border-radius: $radius-5 !important;
  }
}

.border-radius-xl-1 {
  @media (min-width: $breakpoint-xl) {
    border-radius: $radius-1 !important;
  }
}

.border-radius-xl-2 {
  @media (min-width: $breakpoint-xl) {
    border-radius: $radius-2 !important;
  }
}

.border-radius-xl-3 {
  @media (min-width: $breakpoint-xl) {
    border-radius: $radius-3 !important;
  }
}

.border-radius-xl-4 {
  @media (min-width: $breakpoint-xl) {
    border-radius: $radius-4 !important;
  }
}

.border-radius-xl-5 {
  @media (min-width: $breakpoint-xl) {
    border-radius: $radius-5 !important;
  }
}

// Padding
// Custom modal footer padding to align height with modal header and navbar
// Extends Bootstrap’s default calculation (16px - 4px = 12px) by adding 8px to reach 20px on top and bottom
.padding-modal-footer {
  padding-top: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5 + #{$spacing-sm});
  padding-bottom: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5 + #{$spacing-sm});
}
