// Colors - Primitives
$color-white: #FFFFFF;
$color-gray-50: #FCFCFC;
$color-gray-100: #F5F5F5;
$color-gray-200: #EAEAEA;
$color-gray-300: #CCCCCC;
$color-gray-400: #999999;
$color-gray-500: #808080;
$color-gray-600: #666666;
$color-gray-700: #333333;
$color-gray-800: #1F1F1F;
$color-gray-900: #111111;
$color-black: #000000;

$color-blue-500: #6666FF;
$color-magenta-500: #FF0099;

// Colors - Primitives - Soft Tints
$color-soft-red: #F5E6E8;
$color-soft-orange: #F5ECE6;
$color-soft-yellow: #FFFDF8;
$color-soft-green: #EFF5E6;
$color-soft-blue: #E6EFF5;
$color-soft-pink: #F5E6EF;
$color-soft-magenta: #F3E6F5;
$color-soft-violet: #F6F2FF;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// Border Radius
$radius-1: 0.125rem;
$radius-2: 0.25rem;
$radius-3: 0.5rem;
$radius-4: 1rem;
$radius-5: 2rem;

// Colors - Semantic
$color-bg-primary-light: $color-gray-100;
$color-bg-primary-dark: $color-black;
$color-bg-secondary-light: $color-white;
$color-bg-secondary-dark: $color-gray-900;

$color-border-transparent: transparent;
$color-border-subtle-light: $color-gray-200;
$color-border-subtle-dark: $color-gray-700;

// Gradients - Semantic
$gradient-dawn: linear-gradient(160deg, $color-soft-red 0%, $color-soft-blue 100%);
$gradient-sunrise: linear-gradient(160deg, $color-soft-pink 0%, $color-soft-yellow 100%);
$gradient-morning: linear-gradient(160deg, $color-soft-green 0%, $color-soft-pink 100%);
$gradient-sunset: linear-gradient(160deg, $color-soft-pink 0%, $color-soft-red 100%);
$gradient-twilight: linear-gradient(160deg, $color-soft-blue 0%, $color-soft-green 100%);
$gradient-dusk: linear-gradient(160deg, $color-soft-orange 0%, $color-soft-magenta 100%);
$gradient-midnight: linear-gradient(160deg, $color-gray-800 0%, $color-gray-900 100%);

// Patterns - Semantic
$color-pattern-dot-light: $color-magenta-500;
$color-pattern-dot-dark: $color-gray-600;
