@import 'variables';

// Containers
.container-bg-primary {
  background-color: $color-bg-primary-light;

  @media (prefers-color-scheme: dark) {
    background-color: $color-bg-primary-dark;
  }
}

.container-bg-secondary {
  background-color: $color-bg-secondary-light;

  @media (prefers-color-scheme: dark) {
    background-color: $color-bg-secondary-dark;
  }
}

.container-bg-gradient-dawn {
  background: $gradient-dawn;

  @media (prefers-color-scheme: dark) {
    background: $gradient-midnight;
  }
}

.container-bg-gradient-sunrise {
  background: $gradient-sunrise;

  @media (prefers-color-scheme: dark) {
    background: $gradient-midnight;
  }
}

.container-bg-gradient-morning {
  background: $gradient-morning;

  @media (prefers-color-scheme: dark) {
    background: $gradient-midnight;
  }
}

.container-bg-gradient-sunset {
  background: $gradient-sunset;

  @media (prefers-color-scheme: dark) {
    background: $gradient-midnight;
  }
}

.container-bg-gradient-twilight {
  background: $gradient-twilight;

  @media (prefers-color-scheme: dark) {
    background: $gradient-midnight;
  }
}

.container-bg-gradient-dusk {
  background: $gradient-dusk;

  @media (prefers-color-scheme: dark) {
    background: $gradient-midnight;
  }
}

.container-bg-blurred {
  backdrop-filter: blur($blur-sm);
  -webkit-backdrop-filter: blur($blur-sm);
  -moz-backdrop-filter: blur($blur-sm);
  -o-backdrop-filter: blur($blur-sm);
}

// Content
.content-bg-dotted {
  background:
    linear-gradient(90deg, $color-bg-primary-light (1.25rem - 0.0625rem), transparent 1%) center,
    linear-gradient($color-bg-primary-light (1.25rem - 0.0625rem), transparent 1%) center,
    $color-pattern-dot-light;
  background-size: 1.25rem 1.25rem;
  box-shadow: inset 0 0 8rem $color-bg-primary-light;

  @media (prefers-color-scheme: dark) {
    background:
      linear-gradient(90deg, $color-bg-primary-dark (1.25rem - 0.0625rem), transparent 1%) center,
      linear-gradient($color-bg-primary-dark (1.25rem - 0.0625rem), transparent 1%) center,
      $color-pattern-dot-dark;
    background-size: 1.25rem 1.25rem;
    box-shadow: inset 0 0 8rem $color-bg-primary-dark;
  }
}

// Images
.image-radius-top-left {
  border-top-left-radius: $radius-5;

  @media (max-width: $breakpoint-lg) {
    border-top-left-radius: $radius-4;
  }
}

.image-brightness-dimmed {
  @media (prefers-color-scheme: dark) {
    filter: brightness(80%);
  }
}

.image-mask-gradient {
  mask-image: linear-gradient(to top, transparent 0%, $color-bg-primary-light 16%);

  @media (prefers-color-scheme: dark) {
    mask-image: linear-gradient(to top, transparent 0%, $color-bg-primary-dark 16%);
  }
}

.image-style-app-logo {
  max-width: 100%;

  @media (max-width: $breakpoint-xl) {
    width: 5rem;
    height: 5rem;
    border-style: solid;
    border-color: $color-border-subtle-light;

    @media (prefers-color-scheme: dark) {
      border-color: $color-border-subtle-dark;
    }
  }
}

.image-fit-square-cover {
  padding-bottom: 100%;

  img {
    object-fit: cover;
    object-position: center;
  }
}

.image-hover-scale-up {
  img {
    transition: transform 0.3s ease;
  }

  &:hover img {
  transform: scale(1.08);
  }
}
