---
layout: default
title: "Piotr Bakker &middot; Work &middot; Greet.Bot"
description: "Greet.Bot Case Study &middot Chatbot for Onboarding New Employees on Slack."
keywords: "Conversational Interface Design, Product Management, Responsive Web Design, UX Writing"
---

{% assign greetbot_project = site.data.projects | where: "id", "greetbot" | first %}

<main>
  <div class="container p-4">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 pe-lg-5">
        {% include breadcrumbs.html %}
        <h1 class="display-3 fw-bold text-style-primary text-sans-serif">{{ greetbot_project.heading }}</h1>
        <p class="mb-1 fs-5 text-style-primary text-serif">{{ greetbot_project.role }} &middot; {{ greetbot_project.timeframe }}</p>
        <p class="fs-5 text-style-secondary text-serif">{{ greetbot_project.tags }}</p>
        <p class="fs-4 text-style-primary text-serif">GreetBot is a chatbot for onboarding new employees on Slack. Before it was acquired in 2022, GreetBot sent over 5 million welcome messages to more than 4 million people across 14,000+ organizations worldwide and was ranked #4 fastest growing app on Slack in 2018. I led a team of 3 full-stack software engineers in scaling the initial prototype to the fully-featured B2B SaaS solution, designed chat and web UI deployed in production, and was the main contributor to the HTML and Sass code base.</p>
        <h2 class="mt-4 fw-bold text-style-primary text-sans-serif">Background</h2>
        <p class="fs-5 text-style-primary text-serif">In 2015 I spent 6 months living in Thailand, where I worked remotely as a freelance web designer. Inspired by this experience, after coming back home to Amsterdam, I formed a collective of freelancers and indie makers, dedicated to exploring novel product ideas and collaboration practices enabled by new technologies. The group soon converged on the issue of making new team members feel welcome when they joined a distributed team. Even though Slack had already existed, welcoming new teammates online felt infinitely more complicated than in real life. We asked ourselves, how could we bridge that gap?</p>
        <h2 class="mt-4 fw-bold text-style-primary text-sans-serif">Proof of Concept</h2>
        <p class="fs-5 text-style-primary text-serif">In early October 2016 a few of us gathered for a 2-day hackathon to work on this problem. In order to ensure we could complete a working prototype within this timeframe we settled on the following deliverables:</p>
        <ul class="mb-3 fs-5 text-style-primary text-serif">
          <li>Narrowed scope: a chatbot instead of a web app.</li>
          <li>Setup inside Slack using predefined, text-based commands.</li>
          <li>Sign-up using a single landing page.</li>
          <li>Launch on Hacker News.</li>
        </ul>
        <h2 class="mt-4 fw-bold text-style-primary text-sans-serif">Betting on Conversational UI</h2>
        <p class="fs-5 text-style-primary text-serif">Using a chat-based interface allowed us to avoid the myriad of peripheral requirements associated with web development, such as support for different screen sizes and browsers, and focus on functionality instead. Building a Slack app also enabled us to tap into a large audience of software engineering teams and communities on the platform, already used to command-line interfaces.</p>
        <p class="fs-5 text-style-primary text-serif">By using a simple dialogue tree we could guide users through a configuration process without forcing them to ever leave Slack. It was a user-centric strategy that also helped ensure high activation rates. We doubled-down on this approach, gradually expanding the dialogue tree to support more configuration options and account for a range of edge cases.</p>
      </div>
    </div>
    <div class="row justify-content-center mt-2 mt-lg-4">
      <div class="col">
        <div class="p-4 p-lg-5 content-bg-dotted">
          <figure class="figure mb-5">
            <picture>
              <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-wireframe-01.png" media="(prefers-color-scheme: dark)">
              <img class="img-fluid rounded-3" alt="Wireframe of GreetBot’s conversational interface used for collaboration with the engineering team" src="/assets/img/greet.bot/content.light-greetbot-project-wireframe-01.png">
            </picture>
            <figcaption class="figure-caption text-center mt-3 text-style-primary text-monospaced">Wireframe of GreetBot’s conversational interface used for collaboration with the engineering team.</figcaption>
          </figure>
          <div class="row justify-content-center">
            <div class="col">
              <figure class="figure mb-5">
                <div class="row gx-4 gx-xl-5 gy-4 gy-xl-5">
                  <div class="col=12 col-md-6">
                    <picture>
                      <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-wireframe-08.png" media="(prefers-color-scheme: dark)">
                      <img class="img-fluid rounded-3" alt="Wireframe of GreetBot’s activation flow" src="/assets/img/greet.bot/content.light-greetbot-project-wireframe-08.png">
                    </picture>
                  </div>
                  <div class="col-12 col-md-6">
                    <picture>
                      <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-wireframe-09.png" media="(prefers-color-scheme: dark)">
                      <img class="img-fluid rounded-3" alt="Wireframe of GreetBot’s #general channel message configuration" src="/assets/img/greet.bot/content.light-greetbot-project-wireframe-09.png">
                    </picture>
                  </div>
                  <div class="col-12 col-md-6">
                    <picture>
                      <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-wireframe-10.png" media="(prefers-color-scheme: dark)">
                      <img class="img-fluid rounded-3" alt="Wireframe of GreetBot’s direct message configuration" src="/assets/img/greet.bot/content.light-greetbot-project-wireframe-10.png">
                    </picture>
                  </div>
                  <div class="col-12 col-md-6">
                    <picture>
                      <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-wireframe-11.png" media="(prefers-color-scheme: dark)">
                      <img class="img-fluid rounded-3" alt="Wireframe of GreetBot’s channel message configuration" src="/assets/img/greet.bot/content.light-greetbot-project-wireframe-11.png">
                    </picture>
                  </div>
                </div>
                <figcaption class="figure-caption text-center mt-3 text-style-primary text-monospaced">Wireframe designs of GreetBot’s conversational interface (desktop viewport).</figcaption>
              </figure>
            </div>
          </div>
          <figure class="figure">
            <picture>
              <source srcset="/assets/img/greet.bot/content.dark-greetbot-screenshot-slack-app.png" media="(prefers-color-scheme: dark)">
              <img class="img-fluid rounded-3" alt="Screenshot of GreetBot’s conversational interface on Slack." src="/assets/img/greet.bot/content.light-greetbot-screenshot-slack-app.png">
            </picture>
            <figcaption class="figure-caption text-center mt-3 text-style-primary text-monospaced">Screenshot of GreetBot’s conversational interface deployed in production (Slack desktop client).</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 pe-lg-5">
        <h2 class="mt-4 fw-bold text-style-primary text-sans-serif">Going Viral</h2>
        <p class="fs-5 text-style-primary text-serif">GreetBot’s unique ability wast that it spread organically from one Slack workspace to another. Every welcome message that we delivered was essentially an ad for the service. And the more messages were sent, the more people discovered the app.</p>
        <p class="fs-5 text-style-primary text-serif">To drive user activation, and support this organic growth, I focused primarily on simplifying the setup process:</p>
        <ul class="mb-3 fs-5 text-style-primary text-serif">
          <li>Slack sign-in with no need for separate account setup.</li>
          <li>Configuration performed entirely in Slack.</li>
          <li>Convenient message templates to reduce user effort.</li>
          <li>Automated functionality requiring minimum user input.</li>
          <li>Self-service knowledge base, including FAQs and tutorials.</li>
        </ul>
        <p class="fs-5 text-style-primary text-serif">By mid-2018 GreetBot was adding hundreds of new Slack workspaces every month and sending tens of thousands of welcome messages every week. It was ranked as the 4th fastest-growing Slack app of 2018, ahead of Google Drive and Zoom.</p>
      </div>
    </div>
    <div class="row justify-content-center mt-2 mt-lg-4">
      <div class="col">
        <div class="p-4 p-lg-5 content-bg-dotted">
          <figure class="figure">
              <img class="img-fluid rounded-3 image-mask-gradient" alt="Screenshot of a blog post on https://slack.com/blog listing GreetBot among fastest-growing Slack apps of 2018" src="/assets/img/greet.bot/content.greetbot-screenshot-slack-blog.png">
              <figcaption class="figure-caption text-center mt-3 text-style-primary text-monospaced">Screenshot of a blog post on <a href="https://slack.com/blog" target="_blank" class="text-monospaced text-link text-link-primary">slack.com/blog</a> listing GreetBot among fastest-growing Slack apps of 2018.</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 pe-lg-5">
        <h2 class="mt-4 fw-bold text-style-primary text-sans-serif">Shift to a Web Interface</h2>
        <p class="fs-5 text-style-primary text-serif">While conversational UI had its merits, as the product matured and attracted a wider audience, we realized it had significant drawbacks, too. Most importantly, it could be slow and tedious. Users could not always jump ahead, but had to patiently sit through the configuration process each time they wanted to make a change. This was especially painful for power users that needed to interact with the app multiple times a day. On the back-end we also relied on Slack’s API, which extended the time before each command could be processed. As a result, in the fall of 2020 we made the decision to shift to a web interface.</p>
      </div>
    </div>
    <div class="row justify-content-center mt-2 mt-lg-4">
      <div class="col">
        <div class="p-4 p-lg-5 content-bg-dotted">
          {% include image-grid.html
             columns="col-12 col-md-4"
             margins="mb-5"
             images=greetbot_project.sketches
             caption="Early exploration sketches of various user flows and interactions." %}
          <figure class="figure mb-5">
            <picture>
              <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-wireframe-02.png" media="(prefers-color-scheme: dark)">
              <img class="img-fluid rounded-3 image-mask-gradient" alt="Wireframe of GreetBot’s web message editor (desktop viewport)" src="/assets/img/greet.bot/content.light-greetbot-project-wireframe-02.png">
            </picture>
            <figcaption class="figure-caption text-center mt-3 text-style-primary text-monospaced">Wireframe of GreetBot’s web message editor (desktop viewport).</figcaption>
          </figure>
          <div class="row justify-content-center">
            <div class="col">
              <figure class="figure mb-5">
                <div class="row gx-4 gx-xl-5 gy-4 gy-xl-5">
                  <div class="col=12 col-md-6">
                    <picture>
                      <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-wireframe-03.png" media="(prefers-color-scheme: dark)">
                      <img class="img-fluid rounded-3 image-mask-gradient" alt="Wireframe of GreetBot’s workspace dashboard" src="/assets/img/greet.bot/content.light-greetbot-project-wireframe-03.png">
                    </picture>
                  </div>
                  <div class="col-12 col-md-6">
                    <picture>
                      <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-wireframe-04.png" media="(prefers-color-scheme: dark)">
                      <img class="img-fluid rounded-3 image-mask-gradient" alt="Wireframe of GreetBot’s message schedule" src="/assets/img/greet.bot/content.light-greetbot-project-wireframe-04.png">
                    </picture>
                  </div>
                  <div class="col-12 col-md-6">
                    <picture>
                      <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-wireframe-05.png" media="(prefers-color-scheme: dark)">
                      <img class="img-fluid rounded-3 image-mask-gradient" alt="Wireframe of GreetBot’s web message editor with alert placement" src="/assets/img/greet.bot/content.light-greetbot-project-wireframe-05.png">
                    </picture>
                  </div>
                  <div class="col-12 col-md-6">
                    <picture>
                      <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-wireframe-06.png" media="(prefers-color-scheme: dark)">
                      <img class="img-fluid rounded-3 image-mask-gradient" alt="Wireframe of GreetBot’s modal for message deletion confirmation" src="/assets/img/greet.bot/content.light-greetbot-project-wireframe-06.png">
                    </picture>
                  </div>
                </div>
                <figcaption class="figure-caption text-center mt-3 text-style-primary text-monospaced">Wireframe designs of GreetBot’s web app used for prototyping (desktop viewport).</figcaption>
              </figure>
            </div>
          </div>
          <figure class="figure">
            <div class="d-flex">
              <picture class="pe-1 pe-md-2 pe-xl-3">
                <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-screenshot-01.png" media="(prefers-color-scheme: dark)">
                <img class="w-100 mh-100 rounded-3 image-mask-gradient" alt="Screenshot of GreetBot’s web editor (desktop viewport)" src="/assets/img/greet.bot/content.light-greetbot-project-screenshot-01.png">
              </picture>
              <picture class="ps-1 ps-md-2 ps-xl-3">
                <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-screenshot-02.png" media="(prefers-color-scheme: dark)">
                <img class="w-100 mh-100 rounded-3 content-height-100 image-mask-gradient" alt="Screenshot of GreetBot’s web editor (mobile viewports)" src="/assets/img/greet.bot/content.light-greetbot-project-screenshot-02.png">
              </picture>
            </div>
            <figcaption class="figure-caption text-center mt-3 text-style-primary text-monospaced">Screenshots of GreetBot’s web message editor deployed in production (desktop and mobile viewports).</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 pe-lg-5">
        <h2 class="mt-4 fw-bold text-style-primary text-sans-serif">Web Development</h2>
        <p class="fs-5 text-style-primary text-serif">I was in charge of writing the HTML and Sass code from the start of the project, when it was just a single landing page. Gradually, as the project matured, I continued contributing code to additional product pages, including Pricing, About, the Help Center, as well as several common error pages. When the decision was made to shift away from the chat interface in favor of a web app, I also collaborated with the engineering team on the development of all components and web pages related to the new web interface. To ensure all code was written in a consistent, readable and easily understandable style, I helped set up a code style guide for HTML and Sass. I&nbsp;used GitHub to make pull requests and participated in code reviews with the engineering team before merging any of the proposed changes.</p>
      </div>
    </div>
    <div class="row justify-content-center mt-2 mt-lg-4">
      <div class="col">
        <div class="p-4 p-lg-5 content-bg-dotted">
          <figure class="figure mb-5">
            <div class="d-flex">
              <picture class="pe-1 pe-md-2 pe-xl-3">
                <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-screenshot-03.png" media="(prefers-color-scheme: dark)">
                <img class="w-100 mh-100 rounded-3 image-mask-gradient" alt="Screenshot of the pricing page (desktop viewport)" src="/assets/img/greet.bot/content.light-greetbot-project-screenshot-03.png">
              </picture>
              <picture class="ps-1 ps-md-2 ps-xl-3">
                <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-screenshot-04.png" media="(prefers-color-scheme: dark)">
                <img class="w-100 mh-100 rounded-3 content-height-100 image-mask-gradient" alt="Screenshot of the pricing page (mobile viewport)" src="/assets/img/greet.bot/content.light-greetbot-project-screenshot-04.png">
              </picture>
            </div>
            <figcaption class="figure-caption text-center mt-3 text-style-primary text-monospaced">Screenshots of <a href="https://greet.bot/pricing" target="_blank" class="text-monospaced text-link text-link-primary">greet.bot/pricing</a> (desktop and mobile viewports).</figcaption>
          </figure>
          <figure class="figure">
            <picture>
              <img class="img-fluid rounded-3 image-brightness-dimmed" alt="Screenshot of the HTML and Sass code for GreetBot’s Pricing Page" src="/assets/img/greet.bot/content.greetbot-screenshot-atom.png">
            </picture>
            <figcaption class="figure-caption text-center mt-3 text-style-primary text-monospaced">Screenshot of the HTML and Sass code for <a href="https://greet.bot/pricing" target="_blank" class="text-monospaced text-link text-link-primary">greet.bot/pricing</a>.</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 pe-lg-5">
        <h2 class="mt-4 fw-bold text-style-primary text-sans-serif">Implementing UX Writing Standards</h2>
        <p class="fs-5 text-style-primary text-serif">In addition to designing GreetBot’s conversational user interface, I was also responsible for creating written content used across all product pages, how-to and policy articles, as well as interface- and microcopy used throughout the web app. My overarching goal here was to communicate clearly and consistently.</p>
        <p class="fs-5 text-style-primary text-serif">To get the best results I followed industry best practices for web writing:</p>
        <dl class="fs-5 text-style-primary text-serif">
          <dt>Consistent style of phrasing</dt>
          <dd>
            <ul class="pt-2">
              <li>Plain, user-centric language</li>
              <li>Simple sentence structure</li>
              <li>Active voice</li>
              <li>Positive statements</li>
              <li>Tone matching brand personality</li>
            </ul>
          </dd>
          <dt>Copy formatted for ease of scanning</dt>
          <dd>
            <ul class="pt-2">
              <li>Contrasting headings and sub-headings</li>
              <li>Short paragraphs</li>
              <li>Bullet lists</li>
              <li>Large numerals</li>
              <li>Information grouped by related content</li>
            </ul>
          </dd>
          <dt>Clear, descriptive interface- and microcopy</dt>
          <dd>
            <ul class="pt-2">
              <li>Meaningful lead-ins</li>
              <li>Descriptive button and link labels</li>
              <li>User-triggered tooltips to clarify outcomes</li>
            </ul>
          </dd>
        </dl>
        <p class="fs-5 text-style-primary text-serif">During the writing process, I actively sought input from my teammates and listened to customer feedback. This collaborative approach enabled me to identify and rectify any inconsistencies, refine language, and enhance the overall clarity of each piece of writing.</p>
      </div>
    </div>
    <div class="row justify-content-center mt-2 mt-lg-4">
      <div class="col">
        <div class="p-4 p-lg-5 content-bg-dotted">
          <figure class="figure">
            <picture class="ps-1 ps-md-2 ps-xl-3">
              <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-screenshot-15.png" media="(prefers-color-scheme: dark)">
              <img class="w-100 mh-100 rounded-3 content-height-100 image-mask-gradient" alt="Screenshot of the pricing page showing a user-triggered tooltip (desktop viewport)" src="/assets/img/greet.bot/content.light-greetbot-project-screenshot-15.png">
            </picture>
            <figcaption class="figure-caption text-center mt-3 text-style-primary text-monospaced">Cropped screenshot of <a href="https://greet.bot/pricing" target="_blank" class="text-monospaced text-link text-link-primary">greet.bot/pricing</a> showing a user-triggered tooltip (desktop viewport).</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 pe-lg-5">
        <h2 class="mt-4 fw-bold text-style-primary text-sans-serif">User Research Through Customer Support</h2>
        <p class="fs-5 text-style-primary text-serif">I made a point to personally respond to every single customer support request that we received. Every e&#8209;mail we got, good or bad, was essentially user feedback, and I wanted to hear directly from our customers what worked and didn’t work for them. I documented any reported issues and regularly discussed them with the engineering team to evaluate whether we could integrate them into our the product roadmap or address them in the form of how-to articles. In cases where additional information was required, I reached out to users to set up video calls and discuss the problems they were facing in more detail.</p>
      </div>
    </div>
    <div class="row justify-content-center mt-2 mt-lg-4">
      <div class="col">
        <div class="p-4 p-lg-5 content-bg-dotted">
          <figure class="figure mb-5">
            <div class="d-flex">
              <picture class="pe-1 pe-md-2 pe-xl-3">
                <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-screenshot-05.png" media="(prefers-color-scheme: dark)">
                <img class="w-100 mh-100 rounded-3 image-mask-gradient" alt="Screenshot of GreetBot’s Help page (desktop viewport)" src="/assets/img/greet.bot/content.light-greetbot-project-screenshot-05.png">
              </picture>
              <picture class="ps-1 ps-md-2 ps-xl-3">
                <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-screenshot-06.png" media="(prefers-color-scheme: dark)">
                <img class="w-100 mh-100 rounded-3 content-height-100 image-mask-gradient" alt="Screenshot of GreetBot’s Help page (mobile viewport)" src="/assets/img/greet.bot/content.light-greetbot-project-screenshot-06.png">
              </picture>
            </div>
            <figcaption class="figure-caption text-center mt-3 text-style-primary text-monospaced">Screenshots of <a href="https://greet.bot/help" target="_blank" class="text-monospaced text-link text-link-primary">greet.bot/help</a> (desktop and mobile viewports).</figcaption>
          </figure>
          <figure class="figure mb-5">
            <div class="d-flex">
              <picture class="pe-1 pe-md-2 pe-xl-3">
                <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-screenshot-07.png" media="(prefers-color-scheme: dark)">
                <img class="w-100 mh-100 rounded-3 image-mask-gradient" alt="Screenshot of a how-to article (desktop viewport)" src="/assets/img/greet.bot/content.light-greetbot-project-screenshot-07.png">
              </picture>
              <picture class="ps-1 ps-md-2 ps-xl-3">
                <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-screenshot-08.png" media="(prefers-color-scheme: dark)">
                <img class="w-100 mh-100 rounded-3 content-height-100 image-mask-gradient" alt="Screenshot of a how-to article (mobile viewport)" src="/assets/img/greet.bot/content.light-greetbot-project-screenshot-08.png">
              </picture>
            </div>
            <figcaption class="figure-caption text-center mt-3 text-style-primary text-monospaced">Screenshots of a how-to article (desktop and mobile viewports).</figcaption>
          </figure>
          <figure class="figure">
            <div class="d-flex">
              <picture class="pe-1 pe-md-2 pe-xl-3">
                <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-screenshot-09.png" media="(prefers-color-scheme: dark)">
                <img class="w-100 mh-100 rounded-3 image-mask-gradient" alt="Screenshot of a how-to article (desktop viewport)" src="/assets/img/greet.bot/content.light-greetbot-project-screenshot-09.png">
              </picture>
              <picture class="px-1 px-md-2 px-xl-3">
                <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-screenshot-10.png" media="(prefers-color-scheme: dark)">
                <img class="w-100 mh-100 rounded-3 content-height-100 image-mask-gradient" alt="Screenshot of a how-to article (mobile viewport)" src="/assets/img/greet.bot/content.light-greetbot-project-screenshot-10.png">
              </picture>
              <picture class="px-1 px-md-2 px-xl-3">
                <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-screenshot-11.png" media="(prefers-color-scheme: dark)">
                <img class="w-100 mh-100 rounded-3 content-height-100 image-mask-gradient" alt="Screenshot of a how-to article (mobile viewport)" src="/assets/img/greet.bot/content.light-greetbot-project-screenshot-11.png">
              </picture>
              <picture class="ps-1 ps-md-2 ps-xl-3">
                <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-screenshot-12.png" media="(prefers-color-scheme: dark)">
                <img class="w-100 mh-100 rounded-3 content-height-100 image-mask-gradient" alt="Screenshot of a how-to article (mobile viewport)" src="/assets/img/greet.bot/content.light-greetbot-project-screenshot-12.png">
              </picture>
            </div>
            <figcaption class="figure-caption text-center mt-3 text-style-primary text-monospaced">Screenshots of various how-to articles (mobile viewport).</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 pe-lg-5">
        <h2 class="mt-4 fw-bold text-style-primary text-sans-serif">Identifying Product Opportunities</h2>
        <p class="fs-5 text-style-primary text-serif">Over time, the customer support interactions and user feedback sessions generated a large amount of qualitative data about user needs, pain points, and feature requests. To make sense of this information and identify patterns, I used affinity diagramming to organize user insights into eight key capability areas: Sociability, Flexibility, Interactivity, Personalization, Connectivity, Dependability, Security, and Management.</p>
        <p class="fs-5 text-style-primary text-serif">Each capability area represented a cluster of potential product opportunities I identified through my research. This revealed not only what users were explicitly asking for, but also underlying themes about how they wanted to use GreetBot to solve broader team collaboration challenges. The resulting framework helped us prioritize product development efforts and ensure that new features aligned with actual user needs, not just our assumptions about what might be useful.</p>
      </div>
    </div>
    <div class="row justify-content-center mt-2 mt-lg-4">
      <div class="col">
        <div class="p-4 p-lg-5 content-bg-dotted">
          <figure class="figure">
            <picture class="ps-1 ps-md-2 ps-xl-3">
              <source srcset="/assets/img/greet.bot/content.dark-greetbot-screenshot-figjam.png" media="(prefers-color-scheme: dark)">
              <img class="w-100 mh-100 rounded-3 content-height-100" alt="Screenshot of an affinity diagram used to identify product opportunities (Figjam)" src="/assets/img/greet.bot/content.light-greetbot-screenshot-figjam.png">
            </picture>
            <figcaption class="figure-caption text-center mt-3 text-style-primary text-monospaced">Screenshot of an affinity diagram used to identify product opportunities (Figjam).</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 pe-lg-5">
        <h2 class="mt-4 fw-bold text-style-primary text-sans-serif">Driving User Engagement</h2>
        <p class="fs-5 text-style-primary text-serif">We noticed early on that as teams were forming on Slack, the level of user engagement eventually leveled off. That made sense: initially, there was a surge in user registrations as organizations adopted Slack. However, once the majority of the team had signed up, the rate of new members joining slowed down, causing churn.</p>
        <p class="fs-5 text-style-primary text-serif">To address this issue, we reached out to several of our most vocal customers and surveyed members of our user community forum. These discussions revealed a common issue: existing team members who didn’t know each other weren’t comfortable taking the initiative to reach out to one another. Camaraderie and team spirit suffered, leading to lower productivity and decreased work satisfaction.</p>
        <p class="fs-5 text-style-primary text-serif">The solution that we developed, called ‘Intro Mixer,’ was to allow GreetBot to regularly invite existing team members to socialize in small groups that were selected at random. It encouraged team members to make new connections and strengthen existing relationships on an ongoing basis. By doing so, we successfully boosted engagement beyond the initial surge in user registrations, improving customer lifetime value and reducing churn.</p>
      </div>
    </div>
    <div class="row justify-content-center mt-2 mt-lg-4">
      <div class="col">
        <div class="p-4 p-lg-5 content-bg-dotted">
          <figure class="figure mb-5">
            <picture>
              <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-wireframe-07.png" media="(prefers-color-scheme: dark)">
              <img class="img-fluid rounded-3 image-mask-gradient" alt="Wireframe of the ‘Intro Mixer’ web editor (desktop viewport)" src="/assets/img/greet.bot/content.light-greetbot-project-wireframe-07.png">
            </picture>
            <figcaption class="figure-caption text-center mt-3 text-style-primary text-monospaced">Wireframe of the ‘Intro Mixer’ web editor (desktop viewport).</figcaption>
          </figure>
          <figure class="figure">
            <div class="d-flex">
              <picture class="pe-1 pe-md-2 pe-xl-3">
                <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-screenshot-13.png" media="(prefers-color-scheme: dark)">
                <img class="w-100 mh-100 rounded-3 image-mask-gradient" alt="Screenshot of the Intro Mixer web editor (desktop viewport)" src="/assets/img/greet.bot/content.light-greetbot-project-screenshot-13.png">
              </picture>
              <picture class="ps-1 ps-md-2 ps-xl-3">
                <source srcset="/assets/img/greet.bot/content.dark-greetbot-project-screenshot-14.png" media="(prefers-color-scheme: dark)">
                <img class="w-100 mh-100 rounded-3 content-height-100 image-mask-gradient" alt="Screenshot of the Intro Mixer web editor (mobile viewport)" src="/assets/img/greet.bot/content.light-greetbot-project-screenshot-14.png">
              </picture>
            </div>
            <figcaption class="figure-caption text-center mt-3 text-style-primary text-monospaced">Screenshots of the ‘Intro Mixer’ web editor (desktop and mobile viewports).</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-2 mt-lg-4">
      <div class="col-12 col-lg-10 col-xl-8 pe-lg-5">
        <div class="row d-flex align-items-center gx-4 gx-xl-5 gy-4 gy-xl-5">
          <div class="col-12 col-xs-8 col-lg-7">
            <h2 class="mt-4 mt-md-0 fw-bold text-style-primary text-sans-serif">Enterprise Security and Compliance</h2>
            <p class="fs-5 text-style-primary text-serif">One of the most consequential issues that emerged from my interactions with users was the security and compliance needs of our enterprise customers. As a small, bootstrapped company we did not have the resources to obtain a formal SOC 2 certification. But based on conversations we were having with enterprise IT Admins we were able to develop documentation that reassured them about the standards that we followed and the safeguards we put in place to protect their data. While it wasn’t always enough, and we’ve lost several prospective customers early on, eventually we were able to overcome this challenge and sign up several others.</p>
          </div>
          <div class="col-12 col-xs-4 col-lg-5">
            <figure class="figure figure-stacked">
              <img class="img-fluid mb-4 rounded-3" alt="Screenshot of GreetBot Help page desktop viewport" src="/assets/img/greet.bot/content.greetbot-photo-01.jpeg">
              <img class="img-fluid rounded-3" alt="Slide from Slack’s 2019 Frontiers conference keynote presentation where GreetBot was featured" src="/assets/img/greet.bot/content.greetbot-photo-02.jpeg">
              <figcaption class="figure-caption text-center mt-3 mt-lg-0 text-style-primary text-monospaced">Slide from Slack’s 2019 Frontiers conference keynote presentation where GreetBot was featured.</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 pe-lg-5">
        <h2 class="mt-4 fw-bold text-style-primary text-sans-serif">Small Team, Big Impact</h2>
        <p class="fs-5 text-style-primary text-serif">Despite being a small team of only 3–4 people with no venture funding, in the 5 years since the initial hackathon, we went on to turn GreetBot into one of the most popular apps on the Slack platform:</p>
        <ul class="mb-3 fs-5 text-style-primary text-serif">
          <li>Used across 14,000+ organizations worldwide, including global brands such as IBM, Porsche, SAP.</li>
          <li>Welcomed more than 4 million Slack users.</li>
          <li>Sent 50-70K messages weekly, over 5 million messages total.</li>
          <li>Ranked 4th fastest growing Slack app of 2018.</li>
          <li>Featured in Slack’s 2019 Frontiers conference keynote in San Francisco.</li>
          <li>Ranked #13 most popular app in the HR & Team Culture category on the Slack App Directory in 2022.</li>
          <li>Acquired in 2022.</li>
        </ul>
        <p class="fs-5 text-style-primary text-serif">The project proved that simple solutions can be highly effective at addressing complex problems. It also showed that setting constraints around product development, like time-boxing the prototyping phase, can often lead to unexpected solutions that wouldn’t emerge otherwise.</p>
      </div>
    </div>
  </div>
</main>
