---
layout: default
title: "Piotr Bakker &middot; Work"
description: "Overview of Piotr Bakker’s Product Design Work."
---

<main>
  <div class="container px-4 py-lg-5 mt-4 mb-4 mb-lg-5">
    <div class="row justify-content-center">
      <div class="col-md-10 col-xl-8 pe-lg-5">
        {% include breadcrumbs.html %}
        <h1 class="display-3 heading-normal">My Work</h1>
        <p class="mb-1 fs-5 text-normal text-serif">Portfolio &middot; 2012–Present</p>
        <p class="fs-5 text-normal text-serif text-dimmed">Web, Mobile, Chat, Design Systems</p>
        <p class="fs-5 text-normal text-serif">I completed projects for over 30 organizations in Europe and North America, in a variety of sectors, such as education, e-commerce, media, real estate, and finance, B2B and B2C. Companies I worked with include wizehire.com, mixbook.com, rfcx.org, brainly.com, bol.com, tmg.nl, and wevolver.com, among others.</p>
      </div>
    </div>

    <div class="row justify-content-center mt-4 mt-lg-5">
      <div class="col-md-10 col-xl-8">
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="border-bottom">
              <th scope="col"><span class="fs-6 text-normal text-sans-serif">Project</span></th>
              <th scope="col"><span class="fs-6 text-normal text-sans-serif">Role</span></th>
              <th scope="col"><span class="fs-6 text-normal text-sans-serif">Timeframe</span></th>
              <th scope="col"><span class="fs-6 text-normal text-sans-serif">Details</span></th>
            </tr>
          </thead>
          <tbody>
            {% for project in site.data.projects %}
            <tr>
              <td class="py-3"><span class="fs-6 text-normal text-sans-serif">{{ project.heading }}</span></td>
              <td class="py-3"><span class="fs-6 text-normal text-sans-serif">{{ project.role }}</span></td>
              <td class="py-3"><span class="fs-6 text-normal text-sans-serif">{{ project.timeframe }}</span></td>
              <td class="py-3">
                {% if project.has_case_study %}
                  <a href="/work/{{ project.id }}" class="fs-6 text-sans-serif link-icon">
                    Explore project<i class="ph-bold ph-caret-right ms-1"></i>
                  </a>
                {% else %}
                  <span class="text-dimmed text-sans-serif">—</span>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</main>
