<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title | default: site.title }}</title>
  <meta name="keywords" content="{{ page_data.meta.keywords | default: site.keywords }}">
  <meta name="description" content="{{ page_data.meta.description | default: site.description }}">
  <meta name="author" content="{{ site.author | default: 'Piotr Bakker' }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8">

  {% if page.redirect_url %}
    <meta http-equiv="refresh" content="{{ page.redirect_delay | default: 0 }}; url={{ page.redirect_url }}">
  {% endif %}

  {% include resources.html %}

  <link href="/css/main.css" rel="stylesheet" type="text/css">
  <link href="assets/brand.apple-touch-icon-piotrbakker-76@1x.png" rel="apple-touch-icon" sizes="76x76">
  <link href="assets/brand.apple-touch-icon-piotrbakker-76@2x.png" rel="apple-touch-icon" sizes="152x152">
  <link href="assets/brand.apple-touch-icon-piotrbakker-60@2x.png" rel="apple-touch-icon" sizes="120x120">
  <link href="assets/brand.apple-touch-icon-piotrbakker-60@3x.png" rel="apple-touch-icon" sizes="180x180">

  {% include google-analytics.html %}
  {% include google-tag-manager.html %}

</head>
<body>

  {% include google-tag-manager-noscript.html %}

  {{ content }}

  {% include footer.html %}

</body>
</html>
